APP_BUILD=0000000
APP_ENV=local
TZ=UTC
JWT_SECRET=s3cr3t
DATABASE_HOST=127.0.0.1
DATABASE_NAME=xyz
DATABASE_USERNAME=user
DATABASE_PASSWORD=password
DATABASE_LOGGING=
DB_URI=postgresql://user:password@127.0.0.1/xyz
CACHE_HOST=127.0.0.1
CACHE_USERNAME=
CACHE_PASSWORD=password
CACHE_URI=cache://:password@127.0.0.1
CACHE_ENABLED=1
